* {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
html {
    overflow-x: hidden;
    font-family: 'Ubuntu Light', Geneva, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
}
li {
    list-style-type: none;
}
textarea {
    font-size: 12pt;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    padding: 5px;
}
body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.popup, .popup-attention {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 100px auto;
    width: 340px;
    height: 200px;
    background-color: #686157;
    z-index: 2;
    border-radius: 10px;
}

.remove, .attention {
    margin: 50px 10px 0 10px;
    padding: 5px 10px 7px;
    width: 120px;
    border: none;
    font: inherit;
    font-size: 18px;
    color: #f2e7ca;
    background-color: #e24c00;
    outline: none;
    border-radius: 5px;
}
.remove:hover, .attention:hover {
    background-color: #d13600;
}

.warning {
    width: 100%;
    text-align: center;
    color: #f2e7ca;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 400;
}
.go-to-back{
    width: 170px;
    font-size: 16px;
    color: #FFF9F0;
    background-color: #367e21;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
}
.go-to-back:hover{
    background-color: #3ca522;
}
.all_content {
    display: block;
    position: relative;
    width: 1200px;
}
.li-margin {
    margin-bottom: 20px;
}
label, .label-name-file {
    display: block;
    margin-bottom: 10px;
    color: cadetblue;
}
.person_main_pict_editor, .person_pict_loader, .person_text_loader{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*margin: 5px;*/
    padding: 20px;
    background-color: white;
}
.person__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    height: auto;
    background-color: #f2e7ca;
    padding: 20px;
}
.person__list-element {
    width: auto;
    height: 20px;
    margin: 5px;
}
.person__list-btn {
    width: auto;
    height: 20px;
}
.person__form-img {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 30px;
    align-items: start;
    justify-content: space-between;
}
.person-img-main, .img-edit {
    display: block;
    position: relative;
    width: 200px;
}
.person-img-main:after, .img-edit:after{
    content: " ";
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.data-img {
    flex-grow: 1;
    margin-left: 30px;
}
.person-name-file{
    display: block;
}
.apply-changes__btn{
    flex-grow: 0;
}
.delete-main-pict {
    flex-grow: 0;
}
.prevImgLi  {
    display: flex;
    align-items: start;
    margin-top: 20px;
}
.label-loader {
    color: #404040;
    font-weight: 400;
    flex-grow: 1;
}
.loader {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.loader-main-pict {
    cursor: pointer;
    width: 118px;
}
.remove-load-pict {
    margin-right: 30px;
    align-content: flex-end;
    align-self: flex-start;
}
#send-load-pict {
    align-self: flex-start;
}

/* стили для общего отображения персоны */

.person_current_list{
    display: block;
    margin: 5px;
    padding: 20px;
}
.person-title {
    margin-bottom: 40px;
    font-size: 18px;
}
.title_section {
    margin-bottom: 20px;
    font-size: 18px;
    width: 100%;
}
.box_current_section_gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-bottom: 1px #190b05 solid;
}
.box_current_section{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-bottom: 1px #190b05 solid;
    justify-content: space-between;
}
.edit {
    margin-left: 20px;
}
.gallery_pict {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    border-top: rgba(169, 169, 169, 0.64) solid 1px;
}
.box_btn_main_pict {
    margin-top: 50px;
}
.box_btn_gallery {
    margin-top: 50px;
}
/* общие стили */
.display_none {
    display: none;
}
.no-margin {
    margin: 0;
}